.tourOffer-container{
    padding: 50px 0;
    /* border: 1px solid gray; */
    background-color: aliceblue;
}
.offer-title p{
    font-size: 16px;
    font-weight: bold;
    color: rgb(250, 111, 86);
}